<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Register New Publication</h3></div>
  <div class="panel-body">

    <%= render 'form' %>

    <%= link_to 'Back', publications_path %>

  </div>
</div>
